/*------------------------------------*\
    $MAIN
\*------------------------------------*/
/**
 * 1. Set up a decent box model on the root element
 */
html {
  box-sizing: border-box; // 1
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*, *::before, *::after {
  box-sizing: inherit;
}

/**
 * Basic styles for document body
 * 1. Remove horizontal scroll
 * 2. For smooth theme changing
 */
body {
  background-color: $body-bgc;
  color: $doc-text-color;
  margin: 0;
  overflow-x: hidden; // 1
  transition: .25s; // 2

  @include themify($theme) {
    background-color: $body-bgc--dark;
    color: $doc-text-color--dark;
  }
}

/**
 * Basic styles for links
 */
a {
  color: $secondary-color;
  text-decoration: none;

  @include themify('dark') {
    color: $secondary-color--dark;
  }
}

/**
 * Basic styles for images
 * 1. Warning, potentially dangerous if using inline images
 * 2. Prevent image from being taller than viewport
 */
img {
  max-width: 100%;
  height: auto;
  display: block; /* 1 */
  max-height: 80vh; /* 2 */
  margin: 0 auto;
}
