/**
 * Slightly move Disqus away from the content
 */
#disqus_thread {
  @include themify('dark') {
    background-color: $body-bgc;
    margin-right: -20px;
    margin-left: -20px;
    padding: 20px;
  }
}

/**
 * CodePen embedded iframes
 */
.cp_embed_iframe {
  margin-bottom: rem($base-spacing-unit);
  border-bottom: 2px solid $medium-grey;
}
