
@import "headings";

/**
 * Basic typography style for copy text
 */
html {
  font:#{($base-font-size/16px)*1rem}/#{$line-height-ratio} $farsi-text-font-stack;
}

/**
 * Helper class for set web-fonts after its loaded
 */
// .fonts-loaded body {
//   font-family: $farsi-text-font-stack;
// }

/**
 * Basic styles for paragraphs
 */
p {
  margin: 0 0 rem($base-spacing-unit);
}

/**
 * Poor man's vertical rhythm
 */
dd {
  @extend .mb-base;
}

/**
 * Helper class
 */

.large-text {
  @include font-size(15px);
}

.block-text {
  display: block;

  @include mq(mobileLandscape, medium) {
    display: inline;
  }
}

/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
p abbr[title],
li abbr[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
