/**
 * Figures
 * 2. Clear inner floats
 */
figure {
  margin: rem(3 * $half-spacing-unit) 0;
  overflow: hidden; /* 2 */
}

/**
 * Figcaption
 * 1. Right aligned
 */
figure figcaption {
  @extend .text-center;
  color: #868686;
}

/**
 * Figcaption
 * 1. Right aligned
 */
figure img {
  @extend .mb-half;
}

/**
 * Left floated figures
 */
// .figure--left {
//   @extend .figure;

//   @include mq($from: medium) {
//     float: left;
//     margin-right: 20px;
//   }

//   /**
//    * Left align caption then
//    */
//   figcaption {
//     float: left;
//   }
// }

/**
 * Right floated figures
 */
// .figure--right {
//   @extend .figure;

//   @include mq($from: medium) {
//     float: right;
//     margin-left: 20px;
//   }
// }

/**
 * Floated figures
 * 1. Poor man's vertical rhythm
 */
// .figure--left,
// .figure--right {
//   margin-bottom: 40px; /* 1 */

//   @include mq($from: medium) {
//     max-width: 250px;
//   }

//   @media (min-width: 800px) {
//     max-width: 400px;
//   }
// }
