/* Basic reset for browser */


.theme-switch {
  background: #ccc;
  border-radius: 50px;
  cursor: pointer;
  margin: 0 auto;
  text-align: initial;
  width: $double-spacing-unit;
  height: $base-spacing-unit;
  position: relative;
  transition: background .3s ease;
  will-change: transform;

  @include themify('dark') {
    background: #151515;
  }

  [data-page=home] & {
    @include themify('dark') {
      background: #212121;
    }
  }

  [data-page=default] & {
    @include mq($from: desktop) {
      @include sass-theme-switch-fixed;
    }
  }
}

.theme-switch__button {
  background: $body-bgc;
  border-radius: 50%;
  display: block;
  width: 17px;
  height: 17px;
  position: absolute;
  top: 4px;
  box-shadow: 0px 1.5px 6px 0px #666;
  transform: translateX(7px);
  transition: all .13s ease;
  will-change: transform;

  @include themify('dark') {
    background: $body-bgc--dark;
    box-shadow: 0px 1.5px 6px 0px #000;
    transform: translateX(28px);
  }
}
