/* Basic reset for browser */


.theme-switch {
  background: #ccc;
  border-radius: 50px;
  cursor: pointer;
  display: block;
  width: 60px;
  height: 30px;
  position: fixed;
  right: 20px;
  bottom: 20px;
  transition: background .3s ease;

  @include themify('dark') {
    background: #151515;
  }

  [data-page=home] > & {
    @include themify('dark') {
      background: #212121;
    }
  }

  @media screen and (max-width: 768px) {
    display: none;
  }
}

.theme-switch__button {
  background: white;
  border-radius: 50%;
  box-shadow: 0px 1.5px 6px 0px #666;
  display: block;
  width: 17px;
  height: 17px;
  margin-right: 10px;
  position: relative;
  top:6px;
  transition:.3s margin-left ease;

  @include themify('dark') {
    background: #333;
    box-shadow: 0px 1.5px 6px 0px #000;
    margin-right: 33px;
  }
}
