/**
 * Pagination
 */
.pagination {
  @extend .clearfix;
  @extend .list;


  li {
    @include font-size(16px, 0);
    line-height: (52 / 16);
    display: inline-block;
    vertical-align: middle;
    margin: 0 em($base-spacing-unit);
  }
}

/**
 * Pagination icons
 * 1. Allow transforms
 * 2. Slightly scale down and re-position icon
 */
.pagination__icon {
  display: inline-block; /* 1 */
  transform: scale(0.7) translateY(1px); /* 2 */
}

.pagination a { @extend %animation-underline; }
