/**
 * List item on the home page
 */

[data-page=default] .article {
  margin-bottom: rem($base-spacing-unit * 3);
}

.article__title > a {
    @extend %animation-underline;
    @extend %sass-hover-underline-color;
}

[data-page=home] .article__title {
  @include themify('dark') {
    font-weight: normal;
  }
}

.article__date,
.article__excerpt {
  color: #666;
  margin-bottom: 0;

  @include themify('dark') {
    color: #9e9e9e;
  }
}

.article__excerpt {
  margin: 0;

  @include themify('dark') {
    color: #aaa;
  }
}

[data-page=home] .article__excerpt {
  display: none;

  @include mq($from: medium) {
    display: block;
  }
}

.article__excerpt > a {
  @extend  %bg-underline;
}

.article__excerpt > .post__summary {
    display: inline;
}
