
[data-page=home] > .page-wrapper {
  position: relative;

  @include mq($from: medium) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    position: static;
    margin: 0 auto;
    max-width: 1280px;
    min-height: 100vh;
  }
}

[data-page=home] .main {
  padding: 0 $base-spacing-unit (3*$base-spacing-unit);
  transition: border .25s;

  @include mq($from: medium) {
    border-left: 3px solid darken($body-bgc, 2%);
    width: 65%;
    padding-top: $half-spacing-unit * 3;
    padding-bottom: $double-spacing-unit;
    text-align: initial;

    @include themify('dark') {
      border-left-color: darken($body-bgc--dark, 1%)
    }
  }

  @include mq($from: desktop) {
    width: 65%;
  }
}

.latest-posts {
  margin: 0 auto;
  max-width: 600px;
}

.latest-posts__title {
  @include mq($from: medium) {
    display: none;
  }
}

.latest-posts__readmore {
  @include font-size(16px, 0);
  line-height: 2.4375; /* 39/16 */
  font-weight: normal;
  margin-top: 0;
  margin-bottom: rem($half-spacing-unit * 9);

  @include mq($from: medium) {
    line-height: 1.625; /* 26/16 */
    margin: 0;
    text-align: left;
  }
}

 .latest-posts__readmore > a {
  @extend %animation-underline;
  color: $secondary-color;

  @include themify('dark') {
    color: $secondary-color--dark;
  }
}

/**
 * Home page Footer
 */
.home-footer {
  padding-bottom: rem($base-spacing-unit);
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;

  @include mq($from: medium) {
    position: static;
    right: auto;
    bottom: auto;
    padding-top: 0;
  }
}

.home-footer > .copyright {
      @extend .base-mb;
}

/**
 * Poor man's media query
 */
@include mq(640px, 900px) {
  [data-page=home] .theme-switch {
    @include sass-theme-switch-fixed;
  }

  .home-footer > .copyright {
    margin-bottom: 0;
  }

  .latest-posts__readmore {
    margin-bottom: rem($half-spacing-unit * 5);
  }
}

@media screen and (min-width: ( (1200/16) * 1em) ) {
  [data-page=home] .theme-switch {
    @include sass-theme-switch-fixed;
  }

  .home-footer > .copyright {
    margin-bottom: 0;
  }
}
