
[data-page=home] > .page-wrapper {
  position: relative;

  @include respond-to('medium') {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    position: static;
    margin: 0 auto;
    max-width: 1280px;
    min-height: 100vh;
  }
}

[data-page=default] > .page-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}


[data-page=home] .main {
  padding: 40px 20px 125px;
  text-align: center;
  transition: border .3s ease;

  @include respond-to('medium') {
    border-left: 3px solid #F7F7F7;
    width: 60%;
    padding-bottom: 40px;
    text-align: initial;

    @include themify('dark') {
      border-left-color: #2F2F2F
    }
  }

  @include respond-to('large') {
    width: 65%;
  }
}

.latest-posts {
  margin: 0 auto;
  max-width: 600px;
}

.latest-posts__readmore-link {
  @extend %animation-underline;
  color: inherit;
  display: inline-block;
  font-size: 1.6rem;
  margin-bottom: 30px;

  @media screen and (max-width: 768px ) {
      color: $secondary-color;

      @include themify('dark') {
        color: $secondary-color--dark;
      }
  }

  @include respond-to('medium') {
    margin: 0;

    @include themify('dark') {
      color: inherit;
    }
  }
}

/**
 * Home page Footer
 */
.home-footer {
  padding: 60px 0 20px;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;

  @include respond-to('medium') {
    position: static;
    right: auto;
    bottom: auto;
    padding-top: 40px;
  }
}
