
[data-page=default] > .page-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  padding: $base-spacing-unit 0;
}

.page-header {
  margin-bottom: rem($half-spacing-unit * 7);
}


