

.post-header {
  margin: 40px auto;
  text-align: center;

  @include respond-to('medium') {
    margin-top: 50px;
  }
}

.post-title {
  font-size: 2.4rem;
  line-height: 2;
  margin: 0 0 20px;

  @include respond-to('tablet') {
    font-size: 2.8rem;
  }

  @include respond-to('large') {
    font-size: 3.2rem;
  }
}

/**
 * Date from in the post page
 */
.post-meta,
.post-tags {
  color: $dark-grey;

  @include themify('dark') {
    color: #9e9e9e;
  }
}

.post-content > p {
  @extend .container;
  line-height: 2.2; // 30px
  margin-bottom: 25px;

  &:last-of-type {
    margin-bottom: 0;
  }
}
