---
layout: page
title: آخرین نوشته‌ها
label: وبلاگ
---

<ul class="articles  list">
{% for post in paginator.posts %}
  {% unless post.preview %}
    {% include partials/post-list.html post=post %}
  {% endunless %}
{% endfor %}
</ul>

<ul class="pagination text-center double-mb container">
  {% if paginator.previous_page %}
    <li><a href="{{ site.baseurl | urljoin: paginator.previous_page_path }}"><span class="pagination__icon">▶</span> نوشته‌های جدیدتر</a></li>
  {% endif %}
  {% if paginator.next_page %}
    <li><a href="{{ site.baseurl | urljoin: paginator.next_page_path }}">نوشته‌های قبلی‌تر <span class="pagination__icon">◀</span></a></li>
  {% endif %}
</ul>
