<!DOCTYPE html>
<!--#if expr="$HTTP_COOKIE=/fonts\-loaded\=true/" -->
<html lang="fa" dir="rtl" class="fonts-loaded">
<!--#else -->
<html lang="fa" dir="rtl">
<!--#endif -->

{% include master/head.html %}

	<body id="top" data-page="default">

		<div class="page-wrapper">

			{% include master/header.html %}

			<div class="double-mb" role="main">
				{{ content }}
			</div>

			<footer class="site-footer  container text-center clearfix" role="contentinfo" dir="ltr">
				{% include master/footer.html %}
			</footer>

		</div><!-- end /.container -->

	{% include master/global-footer.html %}
