/**
 * Footer
 * 1. Make it slightly smaller than copy text
 */
.site-footer {
  color: $dark-grey;

  @include themify('dark') {
    color: #9e9e9e;
  }

  @include mq($from: medium) {
    text-align: initial;
  }
}

.site-footer > .social-links {
  @include mq($from: medium) {
    float: right;
  }
}

/**
 * Footer copyright
 */

.site-footer > .copyright {
  @include mq($from: medium) {
    @include font-size(15px);
    float: left;
    margin: 0;
  }
}
