
/**
 * Navigation links
 */
.nav__item {
  @include font-size(15px);
  color: #666;
  display: inline-block;
  margin: 0 em($half-spacing-unit);
  white-space: nowrap;

  @include themify('dark') {
    color: #aaa;
  }
}

.nav__item > a {
  @extend %animation-underline;
  @extend %sass-hover-underline-color;
}


/*----------  single page header navigation  ----------*/


/**
 *  Main Header Navigation
 *  1. Poor man's vertical rhythm
 */
.site-header > .nav {
  @include mq($from: medium) {
    float: right;
    padding-top: em(17px); /* 1 */
  }
}

/**
 *  Remove both side margin in float navigation
 */
[data-page=default] {
  .nav__item {
    @include mq($from: medium) {
      margin-left: rem($base-spacing-unit);
      margin-right: 0;
    }
  }
}

/**
 *  Add margin bottom to items on small screen for usability of touch area
 */
 .site-header .nav__item {
    @include mq($until: mobileLandscape) {
      margin-bottom: rem($half-spacing-unit);
    }
  }
