
/**
 * Sidebar
 */
.sidebar {
  color: #666;
  text-align: center;

  @include themify('dark') {
    color: #aaa;
  }

  @include respond-to('medium') {
    float: left;
    width: 40%;
  }

  @include respond-to('large') {
    width: 35%;
    padding: 0 20px;
  }
}

.sidebar__header {
  padding: 40px 20px;
}

.block-inner {
  padding: 0 20px;
}

/**
 * Avatar
 */
.avatar {
  border-radius: 50%;
  display: inline-block;
  max-height: 150px;
}

.sidebar-about__title {
  line-height: 1;
  margin: 30px 0;
  white-space: nowrap;
}

/**
 * sidebar about section - title
 */
.sidebar-about__title > a {
  @extend %animation-underline;
  color: $main-color;
  display: inline;
  font-size: 3rem;
  font-weight: bold;

  @include themify('dark') {
    color: $nili;
  }

  &:hover {
    color: $main-color;

    @include themify('dark') {
      color: $nili;
    }
  }
}

.sidebar-about__comment {
  color: #666;
  font-size: 1.3rem;
  margin: 0 auto;
  max-width: 360px;

  > a { @extend %bg-underline; }

  @include themify('dark') {
    color: #9e9e9e;
  }
}

.sidebar__about > .block-section {
  background-color: $light-grey;
  color: #444;
  margin-top: 40px;
  padding: 20px;

  @include themify('dark') {
    background-color: #3c3c3c;
  }

  @include respond-to('large') {
    margin-right: -20px;
    margin-left: -20px;
  }

  @include respond-to('wide') {
    background-color: transparent;

    @include themify('dark') {
      background-color: transparent;
    }
  }
}
