
/**
 * Sidebar
 */
.sidebar {
  color: #666;

  @include themify('dark') {
    color: #aaa;
  }

  @include mq($from: medium) {
    float: left;
    width: 35%;
    padding: 0 em($half-spacing-unit);
  }
}

.sidebar__header {
  margin-bottom: rem($half-spacing-unit * 3);
  padding: em($base-spacing-unit) em($half-spacing-unit) 0;
}

.block-inner {
  padding: 0 em($half-spacing-unit);
}

/**
 * sidebar about section - title
 */

.sidebar-about__title {
  @include font-size(30px);
  color: $main-color;
  margin: 0 0 rem($base-spacing-unit);

  @include themify('dark') {
    color: $nili;
  }

  > a {
    @extend %animation-underline;
    color: inherit;
  }
}

.sidebar-about__comment {
  @include font-size(11px);
  color: #666;
  margin: 0 auto;
  max-width: 320px;

  > a { @extend %bg-underline; }

  @include themify('dark') {
    color: #9e9e9e;
  }
}

.sidebar__about > .block-section {
  background-color: darken($body-bgc, 3%);
  color: #444;
  padding: em($base-spacing-unit) em($half-spacing-unit);

  @include themify('dark') {
    background-color: darken($body-bgc--dark, 3%);
  }

  @include mq($from: medium) {
    margin-right: -#{em($half-spacing-unit)};
    margin-left: -#{em($half-spacing-unit)};
  }

  @include mq($from: 'wide') {
    background-color: transparent;
    padding: 0;

    @include themify('dark') {
      background-color: transparent;
    }
  }
}
