---
layout: default
title: "General"
tags:
  - blog
  - writing
  - articles
---

<h1>آخرین نوشته‌ها</h1>

<!-- <p><img src="/images/banners/writing.jpg" alt="Photography by Alexandra Lucas" /></p> -->

<ul class="articles  list">
{% for post in site.posts %}
  {% unless post.preview %}
    {% if post.category == 'general' %}
      {% include post-list.html post=post %}
    {% endif %}
  {% endunless %}
{% endfor %}
</ul>

<ul class="pagination">
  {% if paginator.previous_page %}
    <li><a href="{{ paginator.previous_page_path }}"><span class="pagination__icon">◀</span> Previous</a></li>
  {% endif %}
  {% if paginator.next_page %}
    <li><a href="{{ paginator.next_page_path }}">Next <span class="pagination__icon">►</span></a></li>
  {% endif %}
</ul>
