
<!-- app theme -->
<meta name="application-name" content="naser.dev">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="#0081D2">
<meta id="theme-color" name="theme-color" content="#0081D2">

<!-- Favicon -->

<!-- For IE 10 and below -->
<!--[if lt IE 10]><link rel="shortcut icon" href="{{ site.baseurl | urljoin: "favicon.ico" }}"><![endif]-->

<!-- For Mobile and Desktop -->
<link rel="icon" sizes="192x192" href="{{ site.baseurl | urljoin: "/assets/images/fav/android-touch-icon.png" }}">
<link rel="icon" sizes="180x180" href="{{ site.baseurl | urljoin: "/assets/images/fav/apple-touch-icon.png" }}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl | urljoin: "/assets/images/fav/apple-touch-icon.png" }}">
<link rel="apple-touch-icon-precomposed" sizes="180x180" href="{{ site.baseurl | urljoin: "/assets/images/fav/apple-touch-icon.png" }}">

<!-- For Windows 8 / IE 10 -->
<meta name="msapplication-TileImage" content="{{ site.baseurl | urljoin: "/assets/images/fav/tile.png" }}">
<meta name="msapplication-TileColor" content="#fff">

<!-- For Windows 9.1 / IE 11 -->
<meta name="msapplication-config" content="browserconfig.xml" />
