
<nav class="nav social-links">
	<ul class="list">
		<li class="nav__item"><a href="https://github.com/snhasani" target="blank">Github</a></li>
		<li class="nav__item"><a href="https://twitter.com/snhasani" target="blank">Twitter</a></li>
		<li class="nav__item"><a href="{{ site.baseurl | urljoin: "/rss.xml" }}" target="blank">RSS</a></li>
	</ul>
</nav>

<p class="copyright">&copy;&nbsp;{{ 'now' | date: '%Y' }} Seyed Naser Hasani.</p>

<div class="theme-switch">
	<div class="theme-switch__button"></div>
</div>

