
<div class="share-links mb-double container">

	<h4>به اشتراک بگذارید: </h4>

	<ul class="list clearfix">
		<li class="share-links__item mb-base"><a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via={{ site.author_twitter }}" target="_blank" rel="nofollow" title="اشتراک گذاری در تویتتر">توییتر</a></li>
		<li class="share-links__item mb-base"><a href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="اشتراک گذاری در فیسبوک">فیس‌بوک</a></li>
		<li class="share-links__item mb-base"><a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="اشتراک گذاری در گوگل پلاس">گوگل پلاس</a></li>
		<li class="share-links__item mb-base"><a href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}&title={{ page.title }}&source={{ site.url }}&summary={% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}" title="اشتراک گذاری در لینکدین" target="_blank">لینکدین</a></li>
	</ul>

</div>
